<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some examples</h2>
<ul>
  <li i18n="If this description changes in any way, it will regen a different UUID and create merge nightmares! (bummer yo)">This translation will generate a random UUID</li>
  <li i18n="@@betterId">This translation will generate the ID denoted by the @@ tag</li>
  <li i18n="This translation describes how to describe@@description">This translation just has a description of the source</li>
  <li i18n="This has all the things|An example in a list of examples describing different translations@@allTheFixings">This translation has all the fixin's (description and context)</li>
  <li i18n="@@realistic">This translation is a realist (no description or context)</li>
  <li>
    <label>This is how you deal with source text in html attributes --> </label>
    <input type="text" i18n-placeholder="@@attribute" placeholder="Look under my hood ;)"/>
  </li>
</ul>
